* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fontDigital-7;
    src: url('Assets/digital-7-mi.ttf');
}

:root {
    font-size: 14vmin;
    font-family: Verdana, Arial, sans-serif;
    --time-animation: 0.5s;
}

/*To PREVENT DIV-TEXT SELECTION by Mouse at the Page*/
div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    --color-dark-grey: #1e1e1e;
    --color-dark-green: #032113;
    --color-dark-green-50: #03211350;
    --color-bright-green: #21f396;
    --color-middle-green: #258457;
    position: relative;
    background-color: var(--color-dark-green);
    transition: var(--time-animation);
}

body.dark {
    --color-drk-1e: #1e1e1e;
    --color-drk-2e: #2e2e2e;
    --color-lgt-e1: #e9e9e9;
    --color-lgt-b0: #b0b0b0;
    background-color: var(--color-lgt-b0);
    --color-bright-green: #e9e9e9;
}

body::after {
    content: "";
    background: url("Assets/Neon-BG.jpg");
    opacity: 1;
    top: 0; bottom: 0; left: 0; right: 0;
    min-height: 100vh;
    position: absolute;
    z-index: -1;
    transition: opacity var(--time-animation) linear;
}

body.dark::after {
    opacity: 0;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100vmin;
    height: 100vmin;
    border-radius: 0.1rem;
}
.container.dark {
    background-color: #e1e1e1;
    padding: 0 0.1rem;
    padding-top: 0.025rem;
}

/* - - - DISPALY - - - */
.cont-display {
    background-color: var(--color-dark-green);
    border: 2px solid var(--color-middle-green);
    color: var(--color-bright-green);
    border-radius: 0.15rem;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    margin-top: 0.05rem;
    padding: 0 0.1rem;
    transition: var(--time-animation);
}
.cont-display.dark {
    background-color: var(--color-drk-1e);
    border: 2px solid var(--color-drk-1e);
    border: 0.05rem solid #e9e9e9;
    margin-bottom: 0.1rem;
    box-shadow: -0.025rem -0.025rem 0.05rem 0 #fff,
                0.025rem 0.025rem 0.05rem 0 #00000099;
}

.display {
    background-color: var(--color-dark-green);
    color: var(--color-bright-green);
    font-family: fontDigital-7;
    font-size: 1rem;
    white-space: nowrap;
    border-radius: 0.1rem;
    padding: 0 0.1rem;
    height: 1rem;
    transition: var(--time-animation);
    display: flex;
    align-items:center;
    justify-content: flex-end;
}
.display.dark {
    background-color: var(--color-drk-1e);
    color: var(--color-lgt-e1);
    font-size: 98%;
}

.blinking{
    animation:blinkingText 1.0s infinite;
}
@keyframes blinkingText{
    0%{     color: var(--color-bright-green); }
    49%{    color: var(--color-bright-green); }
    60%{    color: transparent;         }
    99%{    color: transparent;         }
    100%{   color: var(--color-bright-green); }
}

/* - - - KEYBOARD - - - */
.keyboard {
    background-color: var(--color-dark-green-50);
    color: var(--color-middle-green);
    border: 2px solid var(--color-middle-green);
    border-radius: 0.2rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 0.2rem;
    height: 80%;
    padding: 0.2rem;
    transition: var(--time-animation);
}
.keyboard.dark {
    background-color: var(--color-lgt-e1);
    color: var(--color-drk-1e);
    border: 1px solid var(--color-drk-1e);
    gap: 0.1rem;
    padding: 0.1rem;
    border: none;
    box-shadow: -0.025rem -0.025rem 0.05rem 0 #ffffff,
                    0.025rem 0.025rem 0.05rem 0 #00000099;
}

.btn {
    background-color: var(--color-dark-green-50);
    font-size: 0.6rem;
    border: 2px solid var(--color-middle-green);
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.05s;
}
.btn.dark {
    background-color: var(--color-lgt-e1);
    border: 1px solid var(--color-drk-1e);
    border: none;
    background: linear-gradient(-45deg, rgba(0,0,0,0.25), rgba(255,255,255,0.75));
    text-shadow: -1px -1px 2px #ffffff, 1px 1px 2px #00000099;
    box-shadow: -0.05rem -0.05rem 0.1rem 0 #fff,
                0.05rem 0.05rem 0.1rem 0 #00000099;
}

#equals {
    grid-column: 4/6;
    border-radius: 1rem;
}

#equals, #M, #D, #A, #S {
    font-weight: 900;

}
/* #equals.dark, #M.dark, #D.dark, #A.dark, #S.dark {
    background: linear-gradient(-45deg, rgba(0,0,0,0.25), rgba(255,255,255,0.75));
} */


.btn:hover {
    background-color: #00000000;
    color: var(--color-bright-green);
    border: 2px solid var(--color-bright-green);
    box-shadow:
        0 0.025rem var(--color-bright-green),
        0 0px 0.1rem var(--color-bright-green),
        0 0px 0.25rem var(--color-bright-green),
        inset 0 0px 0.25rem var(--color-bright-green);
}

.btn:hover.dark {
    background-color: var(--color-lgt-e1);
    color: var(--color-drk-1e);
    border: none;
    transform: translate(0.01rem, 0.01rem);
    text-shadow: -1px -1px 2px #ffffff, 1px 1px 2px #00000099;
    box-shadow: -0.025rem -0.025rem 0.05rem 0 #fff,
                0.025rem 0.025rem 0.05rem 0 #00000099;
}

.btn:active, .active {
    background-color: var(--color-bright-green);
    border: 2px solid var(--color-bright-green);
    color: var(--color-dark-green);
    transform: translateY(0.04rem);
    box-shadow:
        0 0px 0.25rem var(--color-bright-green),
        0 0px 0.5rem var(--color-bright-green),
        0 0px 1rem var(--color-bright-green);
}

.btn:active.dark, .active.dark {
    transform: translate(0.03rem, 0.03rem);
    background: linear-gradient(135deg, rgba(0,0,0,0.25), rgba(255,255,255,0.75));
    text-shadow: -1px -1px 2px #ffffff, 1px 1px 2px #00000099;
    box-shadow: inset -0.05rem -0.05rem 0.1rem 0 #fff,
                inset 0.05rem 0.05rem 0.1rem 0 #00000099;
}

/* - - - FOOTER - - - */
.footer {
    justify-self: flex-end;
    margin-bottom: 0.05rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.1rem;
    padding: 0 0.25rem;
    padding-top: 0.05rem;
    transition: var(--time-animation);
}

input[type="checkbox"] {
    position: relative;
    width: 0.3rem;
    height: 0.1rem;
    appearance: none;
    outline: none;
    background-color: var(--color-bright-green);
    border-radius: 0.05rem;
    transition: 0.25s;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    border: 1px solid var(--color-dark-grey);
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    top: -1px;
    left: 0;
    background: var(--color-middle-green);
    transform: scale(1.5);
    transition: 0.25s;
}

input:checked[type="checkbox"]::before {
    left: 0.2rem;
    background: var(--color-lgt-b0);
    background: linear-gradient(-45deg, #2e2e2e, #e9e9e9);
    box-shadow: 0.01rem 0.01rem 0.025rem 0 #00000099;
}

input:checked[type="checkbox"] {
    background-color: var(--color-drk-2e);
    border: 1px solid var(--color-drk-1e);
}
.footer-text {
    color: var(--color-middle-green);
    cursor: pointer;
    font-size: 0.1rem;
    text-decoration: none;
}

.footer-text.dark {
    color: var(--color-drk-2e);
}

.footer:hover .footer-text {
    font-weight: bolder;
    color: var(--color-bright-green);
}

.footer:hover .footer-text.dark {
    font-weight: bolder;
    color: var(--color-drk-1e);
}

.footer:hover input[type="checkbox"] {
    box-shadow:
        0 0 0.1rem 0.05rem var(--color-bright-green);
}

@media (max-width: 200px) {
    :root {
        font-size: 28px;
    }
    .container {
        width: 200px;
        height: 200px;
    }
}
