@font-face {
    font-family: fontDigital-7;
    src: url(/Assets/digital-7-mi.ttf);
  }

:root {
    --bgd-color: #1e1e1e;
    --prm-color: #e1e1e1;
}

body {
    font-size: 12px;
    background-color: var(--bgd-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    }

.container {
    margin: auto;
    background-color: maroon;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100vmin;
    height: 100vmin;
}

.display {
    font-size: 10vmin;
    font-family: fontDigital-7, monospace;
    height: 15%;
    background-color: var(--prm-color);
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.blinking{
    animation:blinkingText 1.0s infinite;
}
@keyframes blinkingText{
    0%{     color: var(--bgd-color); }
    49%{    color: var(--bgd-color); }
    60%{    color: transparent;      }
    99%{    color: transparent;      }
    100%{   color: var(--bgd-color); }
}

/* - - - KEYBOARD - - - */

.keyboard {
    height: 70%;
    padding: 10px;
    background-color: var(--prm-color);
    border: 1px solid var(--bgd-color);
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.btn {
    font-size: 7vmin;
    border: 1px solid var(--bgd-color);
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 0.1s;
    box-shadow: 0 0.1em #999;
}

.btn:hover {
    font-weight: bolder;
    background-color: #dddddd
}

.btn:active {
    border-color: #dddddd;
    background-color: #dddddd;
    box-shadow: 0 0px var(--bgd-color);
    transform: translateY(4px);
}

#equals {
    grid-column-start: 4;
    grid-column-end: 6;
    border-radius: 2em;
}


@media (max-width: 300px) {
    .container {
        margin: auto;
        background-color: #11e;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        width: 300px;
        height: 300px;
    }

    .display {
        font-size: 2.75em;
    }
}