/* NEON Styling for tOP CALCULATOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fontDigital-7;
    src: url(/Assets/digital-7-mi.ttf);
}

:root {
    font-size: 14vmin;
    font-family: 'Courier New', Courier, monospace;
    --color-dark-grey: #1e1e1e;
    --color-dark-green: #032113;
    --color-dark-green-50: #03211350;
    --color-bright-green: #21f396;
    --color-middle-green: #258457;

}

/*To PREVENT DIV-TEXT SELECTION by Mouse at the Page*/
div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    background: var(--color-dark-grey) url("/Assets/Neon-BG.jpg");
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100vmin;
    height: 100vmin;
    border-radius: 0.1rem;
}

/* - - - DISPALY - - - */
.cont-display {
    background-color: var(--color-dark-green);
    border: 2px solid var(--color-middle-green);
    color: var(--color-bright-green);
    border-radius: 0.2rem;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    margin-top: 0.05rem;
    padding: 0 0.1rem;
}

.display {
    background-color: var(--color-dark-green);
    color: var(--color-bright-green);
    font-family: fontDigital-7, monospace;
    font-size: 1rem;
    white-space: nowrap;
    border-radius: 0.1rem;
    padding: 0.1rem 0.15rem;
    height: 1rem;
}

.blinking{
    animation:blinkingText 1.0s infinite;
}
@keyframes blinkingText{
    0%{     color: var(--color-bright-green); }
    49%{    color: var(--color-bright-green); }
    60%{    color: transparent;         }
    99%{    color: transparent;         }
    100%{   color: var(--color-bright-green); }
}

/* - - - KEYBOARD - - - */
.keyboard {
    background-color: var(--color-dark-green-50);
    color: var(--color-middle-green);
    border: 2px solid var(--color-middle-green);
    border-radius: 0.2rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 0.2rem;
    height: 80%;
    padding: 0.2rem;
}

.btn {
    background-color: var(--color-dark-green-50);
    font-size: 0.6rem;
    border: 2px solid var(--color-middle-green);
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s;
}

#equals {
    grid-column: 4/6;
    border-radius: 1rem;
}

#equals, #M, #D, #A, #S {
    font-weight: 900;
}

.btn:hover {
    background-color: #00000000; /*Transparent color #000000 00*/
    color: var(--color-bright-green);
    border: 2px solid var(--color-bright-green);
    box-shadow:
        0 0.025rem var(--color-bright-green),
        0 0px 0.1rem var(--color-bright-green),
        0 0px 0.25rem var(--color-bright-green),
        inset 0 0px 0.25rem var(--color-bright-green);

}

.btn:active, .active {
    background-color: var(--color-bright-green);
    border: 2px solid var(--color-bright-green);
    color: var(--color-dark-green);
    transform: translateY(0.04rem);
    box-shadow:
        0 0px 0.25rem var(--color-bright-green),
        0 0px 0.5rem var(--color-bright-green),
        0 0px 1rem var(--color-bright-green);
}

/* - - - FOOTER - - - */
.footer {
    justify-self: flex-end;
    margin-bottom: 0.05rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.1rem;
    padding: 0 0.25rem;
}

input[type="checkbox"] {
    position: relative;
    width: 0.25rem;
    height: 0.1rem;
    appearance: none;
    outline: none;
    background-color: var(--color-bright-green);
    border-radius: 0.05rem;
    transition: 0.25s;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: var(--color-middle-green);
    transform: scale(1.5);
    transition: 0.25s;
}

/* input:hover[type="checkbox"]::before {
    background: var(--color-bright-green);
} */

input:checked[type="checkbox"]::before {
    left: 0.15rem;
}

input:checked[type="checkbox"] {
    background-color: orangered;
}
.footer-text {
    color: var(--color-middle-green);
    cursor: pointer;
    font-size: 0.1rem;
}

.footer:hover .footer-text {
    font-weight: 900;
    color: var(--color-bright-green);
}

.footer:hover input[type="checkbox"]::before {
    background: var(--color-bright-green);
}

@media (max-width: 200px) {
    :root {
        font-size: 28px;
    }
    .container {
        width: 200px;
        height: 200px;
    }
}