/* Black & White Styling for tOP CALCULATOR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14vmin;
    font-family: 'Courier New', Courier, monospace;
    --color-drk-1e: #1e1e1e;
    --color-drk-2e: #2e2e2e;
    --color-lgt-e1: #e1e1e1;
    --color-lgt-b0: #b0b0b0;
}

@font-face {
    font-family: fontDigital-7;
    src: url(/Assets/digital-7-mi.ttf);
}

body {
    background-color: var(--bgd-color);
}

/*To PREVENT DIV-TEXT SELECTION by Mouse at the Page*/
div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    background-color: var(--color-drk-2e);
}

.container {
    margin: auto;
    background-color: var(--color-lgt-e1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100vmin;
    height: 100vmin;
    border-radius: 0.1rem;
}

/* - - - DISPALY - - - */
.cont-display {
    background-color: var(--color-drk-1e);
    color: var(--color-lgt-e1);
    border-radius: 0.1rem;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    margin: 0.1rem;
    margin-bottom: 0;
}

.display {
    background-color: var(--color-drk-1e);
    color: var(--color-lgt-e1);
    font-family: fontDigital-7, monospace;
    font-size: 1rem;
    white-space: nowrap;
    border-radius: 0.1rem;
    padding: 0.1rem 0.15rem;
    height: 1rem;
}

.blinking{
    animation:blinkingText 1.0s infinite;
}
@keyframes blinkingText{
    0%{     color: var(--color-lgt-e1); }
    49%{    color: var(--color-lgt-e1); }
    60%{    color: transparent;         }
    99%{    color: transparent;         }
    100%{   color: var(--color-lgt-e1); }
}

/* - - - KEYBOARD - - - */
.keyboard {
    background-color: var(--color-lgt-e1);
    color: var(--color-drk-1e);
    border: 1px solid var(--color-drk-1e);
    border-radius: 0.1rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 0.1rem;
    height: 80%;
    padding: 0.1rem;
}

.btn {
    font-size: 0.6rem;
    border: 1px solid var(--color-drk-1e);
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: 0 0.05rem var(--color-lgt-b0);
}

.btn:hover {
    font-size: 0.65rem;
    box-shadow:
        0 0.05rem var(--color-lgt-b0),
        0 0px 0.05rem var(--color-lgt-b0),
        0 0px 0.1rem var(--color-lgt-b0);
}

.btn:active, .active {
    border-color: var(--color-lgt-e1);
    transform: translateY(0.05rem);
    box-shadow: 0 0 var(--color-lgt-b0),
}

#equals, #M, #D, #A, #S {
    background-color: var(--color-lgt-b0);
}

#equals {
    grid-column: 4/6;
    border-radius: 1rem;
}

/* - - - FOOTER - - - */
.footer {
    color: var(--color-drk-2e);
    justify-self: flex-end;
    align-self: center;
    font-size: 0.1rem;
    margin-bottom: 0.05rem;
    cursor: pointer;
}

.footer:hover {
    font-weight: 900;
    /* ----------------------------------- */
    color: seagreen;
}

@media (max-width: 200px) {
    :root {
        font-size: 28px;
    }
    .container {
        width: 200px;
        height: 200px;
    }